/* Основной цвет текста #757575; */
/* Дополнительный цвет текста (заголовки) #212121; */
/* Фон героя и футера #2F303A; */
/* фон секции 1 и портфолио #E5E5E5; */
/* Фон секции2 #F5F4FA; */
/* цвет активный #2196F3 */

/* -----------------------------------------------------------------------------------------------------------------------------------Студия */

/* -----------------------------------------------------------Логотип-------------------------------------------------------------- */

/* ----------------------------------навигация сайта------------------------------------------- */

/* ----------------------------------------------герой--------------------------------------------------------- */

/* ---------------------особенности--------------- */

/* ---------------Чем мы занимаемся-------------------- */

/* .photo-content:last-child {margin-right: 0px;} */

/* --------------------Наша комманда------------------------ */

/*-----------наши клиенты----------*/

/* ---------------Футер ------------------------*/

/* ----------------------------------------------------------------------------------------------------------------------------Портфолио */

/* Фильтр конпки */

/*----------------------модалка------------------*/

/* .subscribe-btn::after {
  content: " ";
  width: 24px;
  height: 24px;
  background-size: contain;
  background-origin: border-box;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/iconbtn.svg); */
